.main-container {
    margin-top:80px;
}

body {
    background-image: url("../img/reel.png") !important;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #26445D;
}

.spacer {
    margin-top: 180px;
}

.dark {
    color:#333;
}

.seats {
    margin-top: 80px;
}

.form-horizontal .form-group {
    color: #fff;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

p#seat_id {
    border: 1px #A0A0A0 solid;
    width: 65px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    background: #F1F1F1;
    border-radius: 4px;
}

table {
    color:#fff;
}

.box-footer {
    color:#fff;
}